* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    font-display: swap;
    --background-color: #010208;
    --background-color-light: #ffffff;
    --menu-background-color: #111111;
    --text-prime-color: #ffffff;
    --text-color-secondary: #111111;
    --text-color-text-support: #CBCBCB;
    --transparent-color: rgba(0, 0, 0, 0);
    --menu-link-hover: #242424;
    --scrollbar-color: #7898F6;
    
}

html {
    background-color: var(--background-color);
    /*background-image: url(../img/background.svg);*/
    background-image: url(../img/background-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 100%;
    /*cursor: url(../img/Pointer.svg) 16 0, auto;*/
    transition: cursor 0.8s;
}

::-webkit-scrollbar {
    width: 7px;
    
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    width: 7px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--menu-background-color);
    border-radius: 20px;
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.main-container {
    display: flex;
    max-width: 100%;
    height: 100%;
    margin: 0px auto;
    font-family: "Poppins", sans-serif;
}

.main-content {
    display: flex;
    width: 1280px;
    height: 100%;
    margin: 0px auto;
    padding: 0px 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
}
.main-content #github-repository {
    /*background: linear-gradient(to right, rgb(77, 97, 170, 100%), rgb(102, 193, 149, 100%));*/
    background-color: #F64F27;
    padding: 10px 16px;
    border-radius: 4px;
    color: var(--text-prime-color);
    font-size: 0.875rem;
    margin-top: 2.5rem;
    font-weight: 500;
    height: 56px;
    width: 16rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.main-content #introduction-text {
    color: var(--text-color-text-support);
    max-width: 804px;
    text-align: center;
    line-height: 150%;
}

.components-select p{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--background-color-light);
    margin-bottom: 1.25rem;
    text-align: center;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
}

.components-select h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--background-color-light);
    margin-bottom: 1.25rem;
    text-align: center;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
}

.navbar-container {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    padding-top: 1.5rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: margin-top 0.3s;
    z-index: 1;
    
}

.nav-content {
    top: 1.5rem;
    display: flex;
    width: 1280px;
    padding: 0px 3rem;
    height: 4.75rem;
    justify-content: space-between;
    color: var(--text-prime-color);
    background-color: rgb(17, 17, 17, 70%);
    backdrop-filter: blur(20px);
    align-items: center;
    border-radius: 0.5rem;
    
}

#menu-logo {
    width: 42px;
}

.nav-content ul {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.2px;
}

.navbar-container.hidden {
    
    margin-top: -100px;

}

.nav-content ul a {
    cursor: pointer;
    color: var(--text-color-text-support);
    padding: 6px 9px;
    transition: 0.3s;
}

.nav-content #github-repository {
    /*background: linear-gradient(to right, rgb(77, 97, 170, 100%), rgb(102, 193, 149, 100%));*/
    background-color: #F64F27;
    padding: 10px 16px;
    border-radius: 4px;
    color: var(--text-prime-color);
    font-size: 0.875rem;
    font-weight: 400;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 0.5rem;
}

.nav-content #github-repository img {
    width: 20px;
}

.nav-content #menu-icon-mobile {
    display: none;
}
.nav-content ul a:hover {
    background-color: rgba(37, 42, 50, 50%);
    border-radius: 4px;
    transition: 0.3s;
}

.content-experience {
    max-width: 1280px;
    height: 3000px;
    display: flex;
}
.navbar-mobile-container {
    display: none;       
}

.companies-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}

.companies-content {
    display: flex;
    width: 1280px;
    margin: 0px auto;
    padding: 0px 20px;
    justify-content: center;
    gap: 2rem;
}

.companies-logo {
    max-width: 709px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 136px;
    overflow: hidden;
    position: relative;
    width: calc(150px * 20 * 5);
    
}

.companies-logo img {

    width: 150px; /* Ajuste conforme necessário */
    height: auto;
    animation: loop 60s linear infinite;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1000px);
    }
    
}

.companies-text {
    width: 509px;
    color: var(--text-color-text-support);
    font-size: 1rem;
    font-weight: 400;
}

.experience-container {
    display: flex;
    width: 100%;
    margin-top: 200px;
}

.expirience-content {
    display: flex;
    width: 1280px;
    flex-direction: column;
    margin: 0px auto;
    padding: 0px 20px;
    gap: 2rem;
}

.logo-and-title {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2.5rem;
}

.logo-and-title h3 {
    color: var(--text-prime-color);
    font-family: "Syne", sans-serif;
    font-size: 2.5rem; 
    font-weight: 700;
    line-height: auto;
}

.text-content {
    display: flex;
    gap: 3rem;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    color: var(--text-prime-color);
    width: 588px;
}

.text p {
    color: var(--text-color-text-support);
    line-height: 150%;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}

.icon-text h4{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Syne", sans-serif;
}

.projects-container {
    display: flex;
    width: 100%;
    margin-top: 200px;
}

.projects-content {
    display: flex;
    width: 1280px;
    flex-direction: column;
    margin: 0px auto;
    padding: 0px 20px;
    gap: 2rem;
}

.logo-and-title-link {
    color: var(--text-prime-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    align-items: center;
}

.logo-and-title-link a {
    color: var(--text-prime-color);
    text-decoration: underline;
}
.title {
    display: flex;
    gap: 0.5rem;
}

.title h3 {
    font-family: "Syne", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: auto;

}

.project-cards {
    display: flex;
    color: var(--text-prime-color);
    background-color: rgb(203, 203, 203, 48%);
    padding: 32px;
    border-radius: 40px;
    gap: 2rem;
    width: 100%;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-text h4 {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Syne", sans-serif;
}

.card-text p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-prime-color);
}

.stacks-tag {
    display: flex;
    gap: 1rem;
    margin-bottom: 182px;
}

.stacks-tag span{
    border: 1px solid var(--text-prime-color);
    padding: 2px 1.5rem;
    border-radius: 100px;
}

.card-text a {
    background-color: #F64F27;
    color: var(--text-prime-color);
    max-width: 141px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    border-radius: 100px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 24px;
}

.experience-professional-container {
    display: flex;
    width: 100%;
    margin-top: 200px;
}

.experience-professional-content {
    display: flex;
    width: 1280px;
    flex-direction: column;
    margin: 0px auto;
    padding: 0px 20px;
    gap: 2rem;
}

.works {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.work-1 {
    color: var(--text-prime-color);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 10%);
    line-height: 150%;
}

.work-time {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.work-1 h3 {
    font-size: 1.5rem;
    line-height: 40px;
    font-weight: 500;
    font-family: "Syne", sans-serif;
}

.work-1 h4 {
    font-size: 1.125rem;
    line-height: 40px;
    font-weight: 600;
    font-family: "Syne", sans-serif;
}

.work-1 p {
    font-size: 0.875rem;
    line-height: 40px;
    font-weight: 400;
}

.blog-container {
    display: flex;
    width: 100%;
    margin-top: 200px;
}

.blog-content {
    display: flex;
    width: 1280px;
    flex-direction: column;
    margin: 0px auto;
    padding: 0px 20px;
    gap: 4rem;
}

.blog-card {
    display: flex;
    max-width: 100%;
    color: var(--text-prime-color);
    align-items: center;
    justify-content: space-between;
}

.blog-card img {
    margin-right: 2rem;
}

.first-column {
    display: flex;
    align-items: center;
}

.blog-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog-description p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color-text-support);
    max-width: 100%;
}

.blog-description h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Syne", sans-serif;
}

.tags {
    display: flex;
    gap: 1rem;
}

.tags span {
    border: 1px solid var(--text-prime-color);
    padding: 2px 1.5rem;
    border-radius: 100px;
    font-size: 0.875rem;
    font-weight: 600;
}

.button-read {
    background-color: #F64F27;
    padding: 10px 24px;
    border-radius: 100px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    margin-left: 1rem;
} 

.button-read a {
    color: var(--text-prime-color);
    font-family: "Syne", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.comments-container {
    display: flex;
    width: 100%;
    margin-top: 200px;
}

.coments-content {
    display: flex;
    width: 1280px;
    margin: 0px auto;
    padding: 0px 20px;
    flex-direction: column;
}

.card-main {
    display: flex;
    flex-direction: column;
}

.coment-cards {
    display: flex;
    justify-content: space-between;
    
    align-items: start;
}

.card-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 40px;
}

.photo-text {
    color: var(--text-prime-color);
}

.photo-text h4 {
    font-family: "Syne", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.photo-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
}

.comment {
    max-width: 710px;
    color: var(--text-prime-color);
    position: relative;
} 

.comment-image {
    position: absolute;
    top: -48px;
    height: 96px;
}

.comment-image img{
    height: 84px;
}


.comment-text {
    margin-bottom: 3rem;
}

.comment-text p{
    max-width: 710px;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    font-family: "Syne", sans-serif;
}


.button-slider {
    display: flex;
    gap: 1rem;
}

.button-slider a {
    background-color: #F64F27;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button-slider a img {
    width: 20px;
}

.accordion-container {
    display: flex;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
}

.accordion-content {
    display: flex;
    width: 1280px;
    flex-direction: column;
    margin: 0px auto;
    padding: 0px 20px;
    gap: 2rem;
}

.accordion-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1100px;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--text-prime-color);
}

.question {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.footer-container {
    display: flex;
    width: 100%;
    margin-top: 112px;
    justify-content: center;
}

.footer-content {
    display: flex;
    width: 1280px;
    flex-direction: column;
    margin: 0px auto;
    padding: 0px 20px;
    gap: 2rem;
    color: var(--text-prime-color);
    justify-content: center;
}

.footer-email {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-email p {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.loop-container {
    overflow: hidden; /* Esconde as partes que saem do contêiner */
    width: 100%; /* Largura do contêiner */
    height: 88px; /* Altura do contêiner, ajustável conforme necessário */
    position: relative;
    display: flex;
    align-items: center;
}

.footer-loop {
    display: flex; /* Alinha as imagens horizontalmente */
    animation: scroll 30s ease infinite; /* Animação de rolagem */
    align-items: center;
    gap: 40px;
}

.footer-loop img {
    height: 100%; /* Mantém a altura da imagem no padrão do contêiner */
    flex-shrink: 0; /* Garante que as imagens não encolham */
}

/* Definição da animação */
@keyframes scroll {
    0% {
        transform: translateX(0); /* Começa do início */
    }
    100% {
        transform: translateX(-90%); /* Termina na metade do caminho para permitir loop contínuo */
    }
}

.email {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    gap: 0.5rem;
}

.email a{
    color: var(--text-prime-color);
}

.footer-social-media {
    background-color: #F64F27;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    height: 64px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.link-social-media {
    display: flex;
    gap: 1rem;
    font-family: "Syne", sans-serif;
}

.link-social-media a {
    color: var(--text-prime-color);
}

@media screen and (max-width: 1270px) {

    .text {
        width: 500px;
    }

    .companies-content {
        gap: 2rem;
        flex-wrap: wrap;
        width: 100%;
    }

    .companies-text {
        text-align: center;
    }

}

@media screen and (max-width: 1210px) {

    .components-select h1{
        font-size: 3.5rem;
    }

    .components-select p{
        font-size: 2rem;
    }

}

@media screen and (max-width: 1144px) {

    .comment-text p {
        max-width: 500px;
        font-size: 24px;
        line-height: 32px;
    }

}

@media screen and (max-width: 1090px) {

    .text {
        width: 400px;
    }

    .text-content {
        display: flex;
        gap: 2rem;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project-cards img {
        height: 300px;
        align-self: center;
    }

    .stacks-tag {
        margin-bottom: 54px;
    }

}

@media screen and (max-width: 880px) {

    .text {
        width: 100%;
    }

    .components-select h1{
        font-size: 2rem;
    }

    .components-select p{
        font-size: 1.25rem;
    }

    .nav-content ul {
        display: none;
    }
    .navbar-content ul a{
        color: var(--text-color-secondary);
    }

    .nav-content #github-repository {
        display: none;
    }

    .nav-content #menu-icon-mobile {
        display: block;
        cursor: pointer;
    }

    .navbar-mobile-container {
        right: -100%;
        /*position: fixed;*/
        color: var(--text-prime-color);
        background-color: rgba(17, 17, 17, 80%);
        backdrop-filter: blur(30px);
        display: flex;
        padding: 0 24px;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: 1000;
        transition: right 0.3s ease;
    }

    .navbar-content {
        background-color: var(--background-color-light);
        width: 100%;
        height: 440px;
        border-radius: 12px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 24px;
    }

    .navbar-content li {
        padding-bottom: 1.5rem;
        font-size: 1.125rem;
        font-weight: 500;
    }

    .navbar-content #github-repository-mobile {

        /*background: linear-gradient(to right, rgb(77, 97, 170, 100%), rgb(102, 193, 149, 100%));*/
        background-color: #F64F27;
        padding: 10px 16px;
        border-radius: 4px;
        color: var(--text-prime-color);
        border: 1px solid var(--text-prime-color);
        font-size: 0.875rem;
        font-weight: 400;
        display: flex;
        cursor: pointer;
        align-items: center;
        gap: 0.5rem;
        height: 56px;
        width: 250px;
        justify-content: center;
    }

    .close-icon {
        width: 100%;
        height: 4.5rem;
        display: flex;
        justify-content: end;
    }

    .close-icon img{
        width: 18px;
        height: 18px;
        align-self: center;
        margin-right: 2rem;
    }

    .show {
        right: 0%;
    }

    .companies-logo {
        gap: 56px;
        overflow: hidden;
    }

    .companies-text {
        width: 100%;
    }

    .project-cards {
        flex-direction: column;
    }

    .project-cards img {
        align-self: start;
        background-position: center;
    }

    .projects-container {
        margin-top: 150px;
    }

    .blog-card {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }

    .first-column {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 16px;
    }

    .blog-description h3 {
        line-height: 120%;
    }

    .coment-cards {
        display: flex;
        flex-direction: column; 
        gap: 6rem;   
        width: 100%;
    }

    .comment {
        max-width: 100%;
    }

    .card-main {
        width: 100%;
    }

    .comment-text p {
        max-width: 100%;
        font-size: 24px;
        line-height: 32px;
    }

    .footer-email p{
        text-align: center;
    }

    .footer-social-media {
        flex-direction: column;
        height: 180px;
    }

    .footer-social-media {
        background-color: #F64F27;
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 650px) {

    .work-1 {
        color: var(--text-prime-color);
        max-width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .work-time {
        align-items: start;
    }

    .work-1 h3 {
        font-size: 1.25rem;
    }

    .first-column {
        width: 100%;
        height: auto;
    }

    .first-column img {
        width: 100%;
        height: auto;
        background-position: center;
        object-fit: cover;
    }

    .button-read {
        width: 100%;
        text-align: center;
        margin-left: 0px;
        align-items: center;
        justify-content: center;
        
    }

    .button-read a {
        margin-left: 0px;
    }

    .blog-content {
        gap: 3rem;
    }
    
}

@media screen and (max-width: 500px) {

    .logo-and-title h3{
        font-size: 2rem;
    }

    .nav-content {
        padding: 0px 1.25rem;

    }

    .components-select h1{

        font-size: 2rem;

    }

    .main-container {

        margin-top: 0px;
    }

    .introduction-text p{
        font-size: 0.875rem;
    }

    .components-select h1{
        font-size: 2rem;
    }

    .navbar-content #github-repository-mobile {

        width: 100%;
        height: 56px;
        justify-content: center;
    }

    .companies-container {
        margin-top: 7rem;
    }

    .main-content #github-repository {
        
        width: 100%;
    }
    
    .experience-container {
        margin-top: 150px;
    }

    .projects-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0px auto;
        padding: 0px 20px;
    }

    .project-cards {
        padding: 24px;
        border-radius: 20px;
        gap: 1rem;
        width: 100%;
    }

    .project-cards img {
        width: 100%;
        height: 100%;
    }

    .card-text {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .card-text h4 {
        font-size: 1.5rem;
    }

    .stacks-tag {
        margin-bottom: 32px;
        display: flex;
        flex-wrap: wrap;
    }

    .card-text  a{
        max-width: 100%;
    }

    .experience-professional-container {

        margin-top: 150px;
    }

    .blog-container {
        margin-top: 150px;
    }

    .comments-container {
        margin-top: 150px;
    }

    .accordion-container {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .footer-email p{
        text-align: center;
        font-size: 1.5rem;
    }

    .footer-social-media {
        flex-direction: column;
        height: 100%;
        padding: 40px 0px;
        gap: 2rem;
    }

    .footer-social-media {
        background-color: #F64F27;
        display: flex;
        justify-content: space-evenly;
    }

    .link-social-media {
        flex-direction: column;
        align-items: center;
    }

    .email {
        margin-bottom: 32px;
    }

}

@media screen and (max-width: 400px) {

    .logo-and-title h3{
        font-size: 1.5rem;
    }

    .logo-and-title-link h3{
        font-size: 1.5rem;
    }

    .comment-text p {
        max-width: 100%;
        font-size: 18px;
        line-height: 150%;
    }

    .coment-cards {
        display: flex;
        flex-direction: column; 
        gap: 5rem;   
        width: 100%;
    }
    
}